body {
    margin: 0 auto;
    padding: 1em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#background {
    background: url(https://media3.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.webp?cid=790b7611d50ef28e9e48b27c21cb0a219861e4dcdf4c68c5&rid=giphy.webp) no-repeat;
    background-size: contain;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}


#instructions {
    max-width: 50%;
    margin: 2em auto;
    position: relative;
}


#game {
    max-width: 50%;
    margin: 2em auto;
    position: relative;
    left: 20%;
}

#crystal-container {
    margin: 2em auto;
    position: relative;
    left: 23%;
}


#score-container {
    margin: 2em auto;
    position: relative;
    max-width: 50%;
    width: 500px;
    height: 100px;
    left: 0;
}

.crystal-image {
    width: 150px;
    height: 150px;
}


.crystals {
    float: left;
    margin: 0 2em;
}

#total-header {
    margin-top: 2em;
    clear: both;
}

#total-score {

    clear: both;
}